// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spollers {}

// Спойлер
.spollers__item {
	// font-size: rem(20);
	border-bottom: 1px solid #15552b;
}

// Заголовок спойлера
.spollers__title {
	width: 100%;
	cursor: default;
	text-align: left;
	padding: 22px 35px 22px 0;
	font-size: 1.8rem;
	font-weight: 500;
	line-height: 111%;
	// border: 1px solid #eee;
	// padding: rem(10) rem(15);
	// border-radius: rem(5);
	position: relative;

	._spoller-init & {
		cursor: pointer;

		&::before,
		&::after {
			content: "";
			position: absolute;
			right: 0;
			top: 50%;
			background-color: var(--main-color);
			height: 2px;
			width: 15px;
			transition: transform 0.5s ease 0s;
		}

		&::before {}

		&::after {
			transform: rotate(90deg);
		}

		&._spoller-active {
			&::before {
				transform: rotate(90deg);
				opacity: 0;
			}

			&::after {
				transform: rotate(0);

			}
		}
	}
}

// Контент спойлера
.spollers__body {
	padding-bottom: 23px;
	line-height: 157%;
	color: #bdbcc1;
}